<h3><%= @current_user.name %></h3>

<div class="row">
  <aside class="col-sm-10">
    <%= form_for @question do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content, size: "60x10" %>
      
      <%= f.fields_for :choices do |choice_fields| %>
        <%= choice_fields.label :content %>
        <%= choice_fields.text_field :content, size: 60 %>

      <% end %>
      
      <%= f.submit "Submit" %>
    <% end %>
  </aside>
</div>

<p>アンケート作成中・・・</p>
